@charset "UTF-8";
.btn {
  display: inline-block;
  text-align: center;
  @include active-default;
  @include disabled-select;
}

.btn-2i {
  i {
    &:nth-child(2), &.active {
      display: none;
    }
  }
  &:active,&.on {
    i {
      &:nth-child(1), &.normal {
        display: none;
      }
      &:nth-child(2), &.active {
        display: inline-block;
      }
    }
  }
  &.dis-active{
    &:active{
      i {
        &:nth-child(1), &.normal {
          display: inline-block;
        }
        &:nth-child(2), &.active {
          display: none;
        }
      }
    }
  }
}

.bt-primary,.bt-default {
  height: 100px;
  line-height: 98px;
  font-size: 38px;
  padding: 0 30px;
  text-transform: uppercase;
  &.size-s{
    padding: 0 20px;
    font-size: 28px;
    height: 70px;
    line-height: 68px;
  }
}
.bt-primary{
  color: #fff;
  background-color: $color-black-fourth;
  &:active {
    background-color: $color-red;
  }
  &.disabled{
    background-color: $color-gray-third;
    &:active{
      background-color: $color-gray-third;
    }
  }
}

.bt-default {
  border: 2px solid $color-black-second;
  color: $color-black-fourth;
  background: #fff;
  &:active {
    border: 2px solid $color-red;
    color: #fff;
    background-color: $color-red;
  }
  &.disabled{
    color: #cfcfcf;
    &:active{
      border: 2px solid $color-gray;
      color: #f1f1f1;
      background-color: inherit;
    }
  }
}
