.icon {
  background-image: url('../images/sprites.png');
}

.icon-times {
  background-position: -4px -4px;
  width: 36px;
  height: 36px;
}

.icon-ic_l {
  background-position: -4px -48px;
  width: 36px;
  height: 36px;
}

.icon-ic_dress {
  background-position: -4px -92px;
  width: 36px;
  height: 36px;
}

.icon-find_out_more {
  background-position: -4px -136px;
  width: 194px;
  height: 44px;
}

.icon-bt_google {
  background-position: -4px -188px;
  width: 180px;
  height: 60px;
}

.icon-bt_Appbutton {
  background-position: -4px -256px;
  width: 180px;
  height: 60px;
}

.icon-event_title {
  background-position: -4px -324px;
  width: 653px;
  height: 70px;
}

.icon-bt_facebook {
  background-position: -4px -402px;
  width: 433px;
  height: 98px;
}

.icon-logo {
  background-position: -4px -508px;
  width: 176px;
  height: 112px;
}

.icon-logo_deja {
  background-position: -4px -628px;
  width: 370px;
  height: 126px;
}

.icon-ic_face {
  background-position: -4px -762px;
  width: 270px;
  height: 234px;
}

.icon-ic_search {
  background-position: -4px -1004px;
  width: 270px;
  height: 234px;
}

.icon-ic_intelligence {
  background-position: -4px -1246px;
  width: 270px;
  height: 234px;
}

.icon-mobile_banner {
  background-position: -4px -1488px;
  width: 720px;
  height: 438px;
}

