body > .view {
  width: 100%;
  visibility: hidden;
  display: none;
  &.animated {
    @include animated-1s;
    -webkit-animation-fill-mode: none; /*transform的动效会使当前view里fixed的元素将无效*/
    -webkit-animation-name: MicroBounceOut;
    -webkit-animation-duration: 350ms;
  }
  &.show {
    visibility: visible !important;
    display: block !important;
  }
}

/*debug-home.scss*/
@import "debug-home.scss";
/*end debug-home.scss*/

/*debug-user.scss*/
@import "debug-user.scss";
/*end debug-user.scss*/
