@charset "UTF-8";
.btn {
  display: inline-block;
  text-align: center;
  @include active-default;
  @include disabled-select;
}

.btn-2i {
  i {
    &:nth-child(2), &.active {
      display: none;
    }
  }
  &:active,&.on {
    i {
      &:nth-child(1), &.normal {
        display: none;
      }
      &:nth-child(2), &.active {
        display: inline-block;
      }
    }
  }
}

.bt-a, .bt-b,.bt-c {
  height: 100px;
  line-height: 98px;
  font-size: 38px;
  padding: 0 30px;
  -webkit-border-radius: 8px;
  &.size-s{
    padding: 0 20px;
    font-size: 26px;
    height: 60px;
    line-height: 58px;
  }
}
.bt-a, .bt-b{
  color: #fff;
  &:active {
    background-color: #f81f34;
  }
}

.bt-a {
  border: 2px solid #fff;
}

.bt-b {
  background-color: #2f2f2f;
  &.disabled{
    background-color: #aeaeae;
    &:active{
      background-color: #aeaeae;
    }
  }
}

.bt-c {
  border: 2px solid #b5b7b6;
  color: #818181;
  &:active {
    border: 2px solid #f81f34;
    color: #fff;
    background-color: #f81f34;
  }
  &.disabled{
    color: #f1f1f1;
    &:active{
      border: 2px solid #b5b7b6;
      color: #f1f1f1;
      background-color: inherit;
    }
  }
}
