@charset "UTF-8";
.loading-spinner {
  font-size: 120%;
  height: 1em;
  width: 1em;
  position: relative;
  -webkit-transform-origin: 0.5em 0.5em;
  > span {
    display: block;
    position: absolute;
    width: 0.1em;
    height: 0.25em;
    top: 0;
    -webkit-transform-origin: 0.05em 0.5em;
    -webkit-border-radius: 0.05em;
    border-radius: 0.05em;
    content: " ";
    &:before, &:after {
      display: block;
      position: absolute;
      width: 0.1em;
      height: 0.25em;
      top: 0;
      -webkit-transform-origin: 0.05em 0.5em;
      -webkit-border-radius: 0.05em;
      border-radius: 0.05em;
      content: " ";
    }
    &.loading-top {
      background-color: rgba(0, 0, 0, 0.99);
      &:after {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
    &.loading-left {
      background-color: rgba(0, 0, 0, 0.7);
      &:before {
        background-color: rgba(0, 0, 0, 0.8);
      }
      &:after {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    &.loading-bottom {
      background-color: rgba(0, 0, 0, 0.4);
      &:before {
        background-color: rgba(0, 0, 0, 0.5);
      }
      &:after {
        background-color: rgba(0, 0, 0, 0.35);
      }
    }
    &.loading-right {
      background-color: rgba(0, 0, 0, 0.25);
      &:before {
        background-color: rgba(0, 0, 0, 0.3);
      }
      &:after {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    &.loading-top {
      &:before {
        background-color: rgba(0, 0, 0, 0.15);
      }
      -webkit-transform: rotate(0deg);
    }
    left: 50%;
    margin-left: -0.05em;
    &.loading-right {
      -webkit-transform: rotate(90deg);
    }
    &.loading-bottom {
      -webkit-transform: rotate(180deg);
    }
    &.loading-left {
      -webkit-transform: rotate(270deg);
    }
    &:before {
      -webkit-transform: rotate(30deg);
    }
    &:after {
      -webkit-transform: rotate(-30deg);
    }
  }
  -webkit-animation-name: spinnerRotateRight;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
