@charset "UTF-8";
/*size*/
$layout-with: _VIEWPORT_WIDTH_px;/*see viewport:viewport package.json*/

$goods-bulletin-w: $layout-with;
$goods-bulletin-h: 380px;
/*end size*/

/*color*/
$primary-color-highlight: #f81f34;
/*end color*/

$active-opacity: .8;

